@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
}

a, li, h1, h2, p {
  text-decoration: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card-front {
  position: absolute;
  right: -18%;
  top: 21%;
}

.card-front .card-front__container {
  position: relative;
}

.card-front .card-front__background {
  height: 17rem;
}

.card-front .card-front__logo {
  position: absolute;
  top: 10%;
  left: 5%;
}

.card-front .card-front__number {
  color: #dedddf;
  text-transform: uppercase;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 2.2rem;
  letter-spacing: .1rem;
  position: absolute;
  bottom: 28%;
  left: 5%;
}

.card-front .card-front__info {
  position: absolute;
  bottom: 10%;
  left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.card-front .card-front__cardholder-name {
  color: #dedddf;
  text-transform: uppercase;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1rem;
  letter-spacing: .1rem;
}

.card-front .card-front__exp-date {
  color: #dedddf;
  text-transform: uppercase;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1rem;
  letter-spacing: .1rem;
}

.card-back {
  position: absolute;
  right: -35%;
  top: 53%;
}

.card-back .card-back__container {
  position: relative;
}

.card-back .card-back__background {
  height: 17rem;
}

.card-back .card-back__cvc {
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1rem;
  position: absolute;
  top: 45%;
  right: 12%;
}

.inputs {
  width: 25rem;
  /* Firefox */
}

.inputs .inputs__name {
  text-transform: uppercase;
  font-family: 'Space Grotesk', sans-serif;
  font-size: .9rem;
  letter-spacing: .1rem;
  margin-bottom: .5rem;
}

.inputs .inputs__in-txt {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.2rem;
  width: 100%;
  outline: none !important;
  border: solid 1px #dedddf;
  border-radius: 9px;
  padding: .70rem 1rem;
}

.inputs .inputs__in-txt::-webkit-input-placeholder {
  color: #dedddf;
}

.inputs .inputs__in-txt:-ms-input-placeholder {
  color: #dedddf;
}

.inputs .inputs__in-txt::-ms-input-placeholder {
  color: #dedddf;
}

.inputs .inputs__in-txt::placeholder {
  color: #dedddf;
}

.inputs .inputs__in-txt:focus {
  border-color: #600594;
}

.inputs .inputs__in-container {
  margin-bottom: 1.8rem;
}

.inputs .inputs__error {
  color: #ff5252;
  font-family: 'Space Grotesk', sans-serif;
  font-size: .85rem;
  margin-top: .6rem;
}

.inputs .inputs__error--display-none {
  display: none;
}

.inputs .inputs__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.inputs .inputs__flex .inputs__flex__left {
  width: 50%;
  margin-right: 3rem;
}

.inputs .inputs__flex .inputs__flex__right {
  width: 50%;
}

.inputs .inputs__btn {
  cursor: pointer;
  background-color: #21092f;
  color: #dedddf;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.2rem;
  width: 27rem;
  border-radius: 9px;
  padding: .90rem 1rem;
}

.inputs input::-webkit-outer-spin-button,
.inputs input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputs input[type=number] {
  -moz-appearance: textfield;
}

.done .done__icon {
  width: 5.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.4rem;
}

.done .done__thank-you {
  color: #21092f;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 2rem;
  letter-spacing: .3rem;
  margin-bottom: 1rem;
}

.done .done__message {
  color: #8e8593;
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  margin-bottom: 3.3rem;
}

.done .done__btn {
  text-align: center;
  cursor: pointer;
  background-color: #21092f;
  color: #dedddf;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.2rem;
  width: 27rem;
  border-radius: 9px;
  padding: .90rem 1rem;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.page .page__background {
  position: relative;
  background-image: url("../images/bg-main-desktop.png");
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 30vw;
  height: 100%;
}

.page .page__inputs {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hide {
  display: none;
}
/*# sourceMappingURL=main.css.map */